<ul>
  					{% for tablature1 in listTablature1 %}
                      <li><a href="{{ path('tablature_view', {'id': tablature1.id}) }}">{{ tablature1.nommusique }}</a> - 
                      <a href="{{ path('artiste_view', {'id': tablature1.idartiste.id }) }}"> {{ tablature1.idartiste.nom }} </a></br>
                   
                       {{ tablature1.idinstrument.nom }}
                  </li>
                    {% else %}
                      <li><p>Pas (encore !) de tablatures</p></li>
                    {% endfor %}
</ul>